body{
    margin: 0;
    padding: 0;
  }
  .header
  {
    position: relative;
    display: flex;
    height:92px;
    width: 100%;
  }
  .logoheadertwo
  {
  
    margin: 32px 150px 0 0;
    max-height: 18px;
  }
  
  .logoheader
  {
    
    margin: 30px 13px 0px 106px;
    height: 21px;
  }
  .navigation
  {
    
    display: flex;
    font-family: 'Roboto' ;
    
  }
  
  a
  {
    text-decoration: none;
    color:#263633;
  }
  
  .Emploers
  {
    margin: 35px 57px 0 0;
  }
  .HealthPlans
  {
    margin: 35px 30px 0 0;
    height: 24px;
    width: 104px;
  }
  .Consultants
  {
    margin: 35px 57px 0 0;
  }
  .Resources
  {
    margin: 35px 57px 0 0;
  }
  .Demorequest
  {
    margin: 20px 57px 0 0;
    color: #ffffff;
    background:#00856F;
    border-radius: 4px;
    width: 170px;
    height: 44px;
    
    font-size: 16px;
    text-align: center;
    line-height: 44px;
  }
  .Demorequest :hover
  {
    color: #ffffff;
  }
  .wayhead
  {
    width: 1px;
    height: 40px;
    left: 220px;
    background: #DEE3E3;
    margin: 22px 0 0 0;
  }
  .Individuals
  {
    margin: 35px 70px 0 36px;
  }
  .Login
  {
    margin: 20px 0px 0 0;
    color:#00856F;
    background:#DCE9E2;
    border-radius: 4px;
    width: 89px;
    height: 44px;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
  }
  
  .oneblock
  {
    display: flex;
    height: 721px;
    width: 100%;
    background: #F1F7F6;
  }
  .textoneblock
  {
  
  margin: 170px 0 0 130px;
  height: 201px;
  width: 525px;
  font-family: 'Roboto';
  font-size: 58px;
  line-height: 67px;
  color: #00856F;
  font-weight: normal;
  }
  .search
  {
    display: flex;
    position: relative;
  background: #ffffff;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 770px;
  border-radius: 2px;
  margin: 36px 0px 0px 0px;
  z-index: 2;
  }
  .loupe
  {
    background: no-repeat;
    height: 18px;
    margin: 0 15px 0px 31px;
  
  }
  
  .textlup
  {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #263633;
    margin: 28px 31px 0 33px;
    height: 24px;
    
    
  }
  .waysearch
  {
    width: 1px;
    height: 80px;
    background: #DEE3E3;
  }
  .linesearch
  {
  height: 24px;
  width: 264px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #64726F;
  border: 1px solid #64726F;
  margin: 28px 92px 0 41px;
  
  }
  
  .searchbut
  {
    
    color: #ffffff;
    background:#00856F;
    margin: 20px 0px 0 0;
    border-radius: 4px;
    width: 89px;
    height: 44px;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
  }
  .learnmore
  {
    font-family: Roboto;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
  }
  
  
  .pictureoneblock
  {
    position: relative;
    margin: 14px 0px 0 200px;
    max-width: 40%;
    max-height: 100%;
  }
  .imagesonebl
  {
    position: absolute;
    margin: 130px 0 0 -8px;
  }
  .circus
  {
    margin: 70px 0 0 -50px ;
    border-radius: 50%;
    width: 579px ;
    height: 621px;
    background:#DCE9E2;
  }
  
  
  .twoblock
  {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
  top: 0px;
  height: 664px;
  width: 100%;
  position: relative;
  
  
  }
  
  .texttb
  {
    height: 144px;
    width: 820px;
    margin: 130px auto 20px auto;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    
  
  }
  .ttb{
    background: #DCE9E2;
  }
  .subtexttb
  {
    height: 52px;
    width: 482px;
    text-align: center;
    margin: 0 auto 80px auto;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
  
  
  
  }
  .abouttb
  {
    display: flex;
    width: 1180px;
    height: 168px;
    margin: 0 auto 0 auto; 
    justify-content: space-around;
  
  }
  .pictwoblock
  {
    text-align: center;
    width: 300px;
  }
  .txttwoblock
  {
    margin: 20px 0 14px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;  
    color: #263633;
  }
  .subtexttwoblock
  {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #64726F;
  }
  
  
  
  .threeblock
  {
  background:#ffffff;
  margin: 0px;
  padding: 0px;
  top: 0px;
  height: 996px;
  width: 100%;
  
  
  
  
  
  }
  
  .txtthreblock
  {
    margin: 104px 480px 65px 480px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #263633;
  
  }
  
   .slidershowthreebl
  {
    position: relative;
    margin-left: 210px ;
    
  }
  .slidpicture
  {
    position: absolute;
  }
  
  .slidinfo
  {
    background: #00856F;
    width: 480px;
    height: 400px;
    position:absolute;
    margin: 120px 0px 120px -80px;
  }
  .slidtxt
  {
    margin: 40px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  
  
  color: #FFFFFF;
  }
  .slidsurtxt
  {
    margin: 40px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  
  color: rgba(255, 255, 255, 0.8);
  
  }
  .slidnum
  {
    margin: 40px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  
  
  color: #FFFFFF;
  
  }
  .slidershowbutt
  {
    position: absolute;
    display: flex;
    max-width: 1000px;
    max-height: 40px;
    margin-top: 700px;
    text-align: center;
    margin-left: -60px;
    
  
  }
  .left
  {
    border: 20px solid transparent; border-right: 20px solid green;
  }
  
  .numpicture
  {
   display: flex;
   justify-content: space-around;
   margin: auto;
  
    
  }
  
  .one
  {
    height: 2px;
    width: 252px;
    background: #00856F;
    margin: 12px;;
   
    
  }
  
  .right
  {
    border: 20px solid transparent; border-left: 20px solid green;
  }
  
  
  
  
  .fourblock
  {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
  top: 0px;
  height: 663px;
  width: 100%;
  
  
  }
  .headfuorblock
  {
    display: flex;
    max-width: 1180px;
    max-height: 284px;
    margin:-80px 0 0 130px;
    box-shadow: 0px 2px  #DEE3E3;
  }
  
  
  
  
  .txtheadfuorblock
  {
   
   
    max-height: 96px;
    max-width: 467px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  
  
  
  color: #263633;
  
  
  }
  
  .subtxtheadfuorblock{
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  /* or 153% */
  
  
  color: #64726F;
  margin-top: 20px;
  max-height: 78px;
  max-width: 487px;
  
  
  
  }
  
  .pictureheadfuorblock
  {
    margin: 0 0 0 153px;
  }
  
  
  
  .footerfourblock
  {
  
    max-height: 368px;
    max-width: 1180px;
    margin-left: 130px;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
  }
  
  .elfoofourbl
  {
   max-height: 89px;
   margin-top: 59px;
  
  
  
  }
  
  .score
  {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 48px;
    /* identical to box height, or 145% */
    
    
    color: #00856F;
  }
  
  .txtscore
  {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    
    
    color: #00856F;
  }
  
  
  
  
  .fiveblock
  {
  background:#ffffff;
  margin: 0px;
  padding: 0px;
  top: 0px;
  height: 975px;
  width: 100%;
  
  
  
  
  }
  
  .headerfivebl
  {
    max-width: 545px;
    max-height: 194px;
    margin: 104px auto 166px auto;
  }
  
  
  .txtheaderfivebl
  {
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  
  text-align: center;
  
  color: #263633;
  }
  
  .subtxtheaderfivebl
  {
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  
  text-align: center;
  
  color: #64726F;
  
  }
  
  
  
  
  .footfivebl
  {
    display: flex;
    max-height: 640px;
    max-width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
  
  
  }
  .txtfootfivebl
  {
    margin: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-align: center;
    
    color: #263633;
    
  }
  .subtxtfootfivebl
  {
    margin: 30px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  text-align: center;
  
  color: #64726F;
  
  }
  
  
  
  
  
  
  
  
  .sixblock
  {
  background: #F1F7F6;
  
  height: 1323px;
  width: 100%;
  
  
  }
  
  
  .headsixbl
  {
    max-width: 536px;
    max-height: 168px;
   padding: 100px;
   margin: auto;
   text-align: center;
  }
  
  
  .hedtxtsixbl
  {
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  
  text-align: center;
  
  color: #263633;
  margin-bottom: 20px;
  }
  
  
  .subheadtxtsixbl
  {
  
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  
  text-align: center;
  
  color: #64726F;
  }
  
  
  .container
  {
  
    max-width : 1200px;
    max-height: 232px;
    margin: 50px auto auto auto;
    display: flex;
    justify-content: space-between;
  }
  
  .blcontainer
  {
    position: relative;
    z-index: 1;
    max-width: 360px;
    max-height: 232px;
   
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  }
  
  
  .iconcointainer
  {
    margin: 30px auto;
   
  }
  
  .titlecointainer
  {
    margin:  auto  auto;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  
  color: #263633;
  }
  
  .infocontainer
  {
     margin: 30px auto;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  
  color: #64726F;
  
  }
  
  .circuscont1
  {
    position: absolute;
    width: 252px;
    height: 252px;
    border-radius: 50%;
    background: #fad6d1;
    margin: -40px auto auto -20px;
  }
  
  .circuscont2
  {
    position: absolute;
    width: 252px;
    height: 250px;
    border-radius: 50%;
    background: #fad6d1;
    margin: 20px auto auto 560px;
  }
  
  .circuscont3
  { position: absolute;
    width: 252px;
    height: 252px;
    border-radius: 50%;
    background: #fad6d1;
    margin: -40px auto auto 980px;
  }
  
  
  
  
  
  
  .abMaventxt
  {
   text-align: center;
    margin-top: 82px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 144% */
  
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  
  color: #00856F;
  
  
  }
  
  .abMaven
  {
    max-width: 800px;
    text-align: center;
    margin: auto;
  }
  
  
  
  .suptxtsixbl
  {
    margin-top: 25px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  
  text-align: center;
  
  color: #263633;
  }
  
  
  
  .subtxtsixbl
  {
    margin: 20px auto;
    
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  text-align: center;
  
  color: #64726F;
  
  }
  
  .study
  {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-align: center;
    text-decoration: underline #263633;
    
    color: #263633;
  }
  
  .navsixbl
  {
    display: flex;
    margin: 30px auto 30px auto;
    justify-content: center;
  }
  
  .leftsix
  {
   margin-right: 15px;
  }
  
  
  
  .picturesix
  {
   margin:auto ;
   display: flex;
   justify-content: center;
   
  
  }
  
  
  
  
  
  
  
  
  
  
  
  .sevenblock
  {
  background: #F1F7F6;
  margin: 0px;
  padding: 0px;
  top: 0px;
  height: 263px;
  width: 100%;
  background: rgba(241, 247, 246, 0.5);
  
  }
  
  
  .Featuredin
  {
    padding-top: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 144% */
  
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #64726F;
  }
  
  .sevenblockpic
  {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  }
  
  
  
  
  
  
  .eichblock
  {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
  top: 0px;
  height: 1583px;
  width: 100%;
  
  
  
  }
  
  .eichhead
  {
  
    margin: 100px 100px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .piceichbl
  {
    position: relative;
    z-index: 1;
  }
  .circuseich
  {
    position: absolute;
    height: 250px;
    width: 400px;
    border-radius: 50%;
    background: #FFD58A;
    margin-top: -30px;
  
  }
  
  
  .suptxteich
  {
  margin: 200px auto 15px 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  
  
  color: #263633;
  }
  .subtxteich
  {
    margin: auto auto 15px 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #64726F;
    
  }
  
  
  .eichtxt
  {
  
    margin: 80px auto 15px auto;
  
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 144% */
  
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  
  color: #64726F;
  
  }
  
  .OurAwards
  {
  
    display: flex;
    justify-content: space-around;
    margin: auto 100px;
  
  }
  
  .footereich
  {
    max-width: 1180px;
    min-height: 550px;
    background-image: url('eich6.png')  ;
    margin:100px auto;
    display:flex;
    justify-content: right;
  }
  
  
  .footeichbl
  {
    max-width: 430px;
    max-height: 420px;
    background: #ffffff;
    margin: 70px 50px 65px auto;
    padding: 50px;
  }
  
  .titlefooteichbl
  {
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 48px;
  /* or 123% */
  margin-bottom: 20px;
  
  
  color: #263633;
  
  }
  .subtxttitle
  {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    margin-bottom: 20px;
    
    
    color: #64726F;
  }
  .searcheich
  {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 50px;
    /* identical to box height, or 160% */
    margin-bottom: 20px;
    width: 360px;
    height: 62px;
    padding: 20px 0 0 20px;
  
    
    
    color: #64726F;
    border: 1px solid #DEE3E3
    
  }
  .butsearcheich
  { 
    width: 381px;
    height: 62px;
    background: #00856F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.04px;
    color: #FFFFFF;
    
    
  }
  
  
  
  
  
  
  
  
  
  
  .nineblock
  {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
  top: 0px;
  height: 392px;
  width: 100%;
  position: relative;
  
  
  }
  
  .headnine
  {
    display: flex;
    justify-content: space-between;
    margin: 30px 100px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  
  color: #263633;
  }
  
  .txtnine
  { 
    display: flex;
    margin-top: 15px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  
  color: #64726F;
  }
  
  
  .Careers
  {
    margin-left: 10px;
    color: #00856F;
    background: #DCE9E2;
  border-radius: 6px
  }
  
  .social
  {
    display: flex;
    justify-content: space-between;
  }
  
  
  .footnine
  {
    display: flex;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  
  color: #64726F;
  }
  
  
  .copiright
  {
    margin: auto;
    margin-left: 100px;;
  }
  
  
  .teamprivacy
  {
    margin: auto;
    margin-right: 100px;
  }